<mat-card class="example-card">
      <mat-card-content>
            <form class="example-container" [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
                <mat-form-field>
                    <input matInput placeholder="Email" formControlName="emailName" required />
                        <mat-error *ngIf="loginForm.invalid">{{getErrorMessage()}}</mat-error>
                  </mat-form-field>

                 <mat-form-field>
                    <input type="password" matInput placeholder="Password" formControlName="password" />
                  </mat-form-field>
                  <button type="submit" [disabled]="!loginForm.valid" mat-raised-button color="primary">Login</button>
        </form>
      </mat-card-content>
</mat-card>
