<!--The content below is only a placeholder and can be replaced.-->
<clr-main-container>
  <header class="header header-3">
    <div class="branding">
      <a>
        <clr-icon shape="group"></clr-icon>
        <span class="title">Community</span>
      </a>
    </div>
    <div class="header-nav">
        <a class="nav-link" routerLink="/"><span class="nav-text">Home</span></a>
        <a class="nav-link" routerLink="/login"><span class="nav-text">Login</span></a>
        <a class="nav-link" routerLink="/secure"><span class="nav-text">Secure</span></a>
    </div>
    <div class="header-actions">
      <a class="nav-link nav-icon" [routerLink]="[{outlets: { chat: ['users']}}]">
        <clr-icon shape="talk-bubbles"></clr-icon>
      </a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>